body {
  background-color: #232830;
}

.text-poppins {
  font-family: 'Poppins', sans-serif;
}

.text-recursive {
  font-family: 'Recursive', sans-serif;
}

.text-source {
  font-family: 'Source Sans 3', sans-serif;
}

.tab-btn {
  color: #909090;
}

.ellipse {
  height: 0.1875rem;
  width: 0.21569rem;
  color: #0f1217;
  border: 0.1875rem solid #0f1217;
  border-radius: 100%;
}
